name: Xcode - Build and Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:   
  build:
    name: Build and Test
    strategy:
      max-parallel: 2
      fail-fast: false
      matrix:
        macos-version: [macos-15, macos-26]
    runs-on: ${{ matrix.macos-version }}
    env:
      scheme: ${{ 'Mactrix' }}
    steps:
      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: latest-stable
      - name: Checkout
        uses: actions/checkout@v4
      - name: Build
        run: |
          xcodebuild clean build analyze -scheme "$scheme" -project Mactrix.xcodeproj | xcpretty && exit ${PIPESTATUS[0]}
      - name: Test
        run: |
          xcodebuild test -scheme "$scheme" -project Mactrix.xcodeproj | xcpretty && exit ${PIPESTATUS[0]}
